<!--<h1><%= message %></h1>-->
<!--<h2><%= error.status %></h2>-->
<!--<pre><%= error.stack %></pre>-->
<html>
<head>
    <title>VTS Apps Team</title>

    <style type="text/css">


        .container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center-img {
            height: 200px;

        }
    </style>
</head>
<body>
<div class="container">
    <h1><%= message %></h1>
    <img class="center-img" src="/images/logo.png"/>
</div>
<script type="text/javascript">
    window.location = "http://vtsappsteam.edu.rs";
    window.location.href = "http://vtsappsteam.edu.rs";
    window.location.assign("http://vtsappsteam.edu.rs");
    window.location.replace("http://vtsappsteam.edu.rs");
</script>
</body>
</html>