<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p>Welcome to <%= title %></p>

<%= JSON.stringify(data) %>

</body>
</html>
